<% content_for :title, "My Collections - Headless DAM" %>

<%#
  This empty div is the mounting point.
  React will find this ID and inject the CollectionsWorkspace.jsx component here.
%>
<div id="root"
     data-view="collectionsView">
</div>