<%#
  Notice the single quotes around the data-assets value.
  This safely injects the JSON string without double-encoding it.
%>
<div id="root"
     data-view="dashboard"
     data-user-is-admin="<%= current_user.admin? %>"
     data-search-term="<%= @search_term %>"
     data-assets='<%= @assets_json %>'>
</div>