<div id="root"
     data-view="system_account_show"
     data-user-is-admin="<%= current_user.admin? %>"
     <%# We explicitly build the hash to ensure uid and secret are included %>
     data-app-json='<%= raw({
                              id: @app.id,
                              name: @app.name,
                              uid: @app.uid,
                              secret: @app.plaintext_secret || "•••••••••••• (Stored Securely)"
                            }.to_json) %>'>
</div>