<div id="root"
     data-view="policies"
     data-current-user-id="<%= current_user.id %>"
     data-is-admin="<%= current_user.admin? %>"
     data-is-super-admin="<%= current_user.super_admin? %>">
</div>
