<%# app/views/layouts/_header.html.erb %>
<div id="header-root"
     data-user-name="<%= current_user&.name %>"
     data-signed-in="<%= user_signed_in? %>">
</div>

<%# Keep the spacer so content doesn't hide under the fixed header %>
<div style="height: 64px;"></div>